@font-face {
  font-family: "TanTwinkle";
  src: url("/fonts/TANTWINKLE.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e2c2d;
    color: #ffffff;
    line-height: 1.6;
    font-family: "TanTwinkle", sans-serif;
}

h1 {
    font-family: "TanTwinkle", sans-serif;
}

.subtitle {
    font-family: "Fira Code", monospace;
}

footer {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
