@font-face {
  font-family: "TanTwinkle";
  src: url("/fonts/TANTWINKLE.woff2") format("woff2");
}

/* Standard-Schrift für ganze Seite */
body {
    margin: 0;
    padding: 40px;
    background-color: #1e2c2d;
    color: #ffffff;
    line-height: 1.6;
    font-family: "Fira Code", monospace;
}

/* Nur Überschriften */
h1 {
    font-family: "TanTwinkle", serif;
}
.subtitle {
    font-family: "Fira Code", monospace;
    margin: 0;
    line-height: 1.2;
}

footer {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
