@font-face {
  font-family: "TanTwinkle";
  src: url("/fonts/TANTWINKLE.woff2") format("woff2");
}

/* Standard-Schrift für ganze Seite */
body {
    margin: 0;
    padding: 0 40px;   /* ← DAS ist neu */
    background-color: #1e2c2d;
    color: #ffffff;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nur Überschriften */
h1 {
    font-family: "TanTwinkle", serif;
}
.subtitle {
    font-family: "Fira Code", monospace;
    margin: 8px 0;

}
.subtitle + .subtitle {
    margin-top: -6px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
    font-size: 14px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  margin: left 25px;
}

footer a:hover {
  text-decoration: underline;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Links modernisieren */
a {
    color: #ffffff;          /* gleiche Farbe wie Text */
    text-decoration: none;   /* keine Unterstreichung */
}

a:visited {
    color: #ffffff;          /* bleibt gleich, kein Lila */
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #ffffff;
}
/* Footer auf Startseite zentrieren */
body.home footer {
    display: block;
    text-align: center;
}


body.datenschutz h2 {
    font-size: 17px;
    margin-top: 30px;
}
