@font-face {
    font-family: "Tan Winkle";
    src: url("/fonts/TANTWINKLE.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e2c2d;
    color: #ffffff;
    line-height: 1.6;
}

h1 {
    font-family: "Tan Winkle", serif;
}

.subtitle {
    font-family: "Fira Code", monospace;
}
